mixin start()
  section.start
    .container
      .start__wrapper
          h1.start__title
            span Lorem ipsum
            span.start__title-colored  dolor sit ametconsectetur
            span  adipiscing
          .start__info
            span.start__info-title At vero eos et accusamus et iusto odio dignissimos ducimus!
            ul.start__info-list
              li.start__info-item Totam rem aperiam eaque ipsa
              li.start__info-item Sit voluptatem accusantium doloremque laudantium
              li.start__info-item Sed ut perspiciatis, unde omnis iste natus error
          .start__buttons-wrapper
            button(type="button").start__button-order Заказать
            button(type="button").start__button-more Подробнее

