.header {
  position: fixed;
  width: 100%;
  padding: 28px 0;
  z-index: 100;

  background-color: rgba(16, 16, 29, 0.9);;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $color-default-white;
    font-family: $ff-raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;

    @include vp-767 {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__logo-colored {
    color: $color-summer-sky;
  }
}
